2503.17587v1.pdf
6400_2page_proposal_notes.docx
analysisDf_mmluSample21_20260210.csv
DATA6400_Outline.pdf
datasets.ipynb
ensemble_results_merged.csv
ensemble_results.csv
hf_llm_playground.ipynb
humanitys_last_proctors_DATA6400_proposal_draft.pdf
humanitys_last_proctors_DATA6400_proposal_draft.pdf.docx
llm_proposal_multi_lang.docx
llm_proposal_template.docx
lmstudio_h-mvr_testing.ipynb
lmstudio_mmlu_judge_model_testing.ipynb
lmstudio_mmlu_judge_model_testing.pdf
Mitigating hallucination through multi-agent collaborative filtering.pdf
mmlu_pro_test.csv
mmlu_prompt_variation_testing1.pdf
mmluSample.xlsx
project_variance_driven_blinded_ensemble.docx
Proposal Guidelines (2 pages proposal).pdf
summary_variance_driven_blinded_ensemble.docx
summary_variance_driven_blinded_ensemble.pdf
acl_latex/acl-style-files-master.zip
acl_latex/acl-style-files-master/acl-style-files-master/acl_latex.tex
acl_latex/acl-style-files-master/acl-style-files-master/acl_lualatex.tex
acl_latex/acl-style-files-master/acl-style-files-master/acl_natbib.bst
acl_latex/acl-style-files-master/acl-style-files-master/acl.sty
acl_latex/acl-style-files-master/acl-style-files-master/anthology.bib.txt
acl_latex/acl-style-files-master/acl-style-files-master/custom.bib
acl_latex/acl-style-files-master/acl-style-files-master/formatting.md
acl_latex/acl-style-files-master/acl-style-files-master/README.md
project_proposal/acl_natbib.bst
project_proposal/acl.sty
project_proposal/custom.bib
project_proposal/custom.log
project_proposal/humanitys_last_proctors_DATA6400_proposal_final.pdf
project_proposal/humanitys_last_proctors_DATA6400_proposal.aux
project_proposal/humanitys_last_proctors_DATA6400_proposal.log
project_proposal/humanitys_last_proctors_DATA6400_proposal.out
project_proposal/humanitys_last_proctors_DATA6400_proposal.pdf
project_proposal/humanitys_last_proctors_DATA6400_proposal.synctex.gz
project_proposal/humanitys_last_proctors_DATA6400_proposal.tex
project_timeline/timeline_20260220.pdf
project_timeline/timeline.xlsx
proposal_presentation/ji_base_slides.pptx
proposal_presentation/project_presentation_outline.docx
proposal_presentation/project_presentation_outline.pdf
proposal_presentation/proposal presentation guidelines.docx
__pycache__/
project_research/
project_work_products/
proposal_presentation/